
/* Header styles */
header {
  background-color: #1a1e1f;
  max-width: 1903px;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
}

header div {
  margin-right: auto;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
  padding: 15px 0;
  color: white;
}

/* Section styles */
.firstSection{
  padding-top: 77px;
}

.mainImgDiv {
  position: relative;
  max-width: 1903px;
  width: 100%;
  height: 352px; /* Fixed height */
  overflow: hidden; 
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.mainImgText {
  position: absolute;
  top: 55px;
  left: 300px;
  color: white;
  font-size: 34px;
}

.mainImgText p {
  margin-bottom: 20px;
}

.sectionParag {
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 464.78px;
  margin: 0 auto;
  padding-top: 60px;
}

.settionText {
  width: 958.25px;
  height: 264.98px;
  font-size: 28px;
  line-height: 1.6em;
  margin: 0 auto;
  color: rgb(244, 244, 244);
  letter-spacing: 0em;
}

.more {
  font-size: 20px;
  color: #00AEF3;
  margin: 40px 127px;
  width: fit-content;
}

/* section learning courses */
.container{
  max-width: 1903px;
  width: 100%;
  background-color: #161616;
  /* height: auto; */
  height: 1422px;
  padding-top: 40px;
  padding-left: 120px;
 
}
.container h2{
  font-size: 24px;
  color: #DBDBDB;
}
.wraper{
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  
}
.courseContainer{
  width: 300px;
  height: 393px;
  background-color: #161616;
  border: 1px solid grey;
  border-radius: 5px;
}
.ios img{
  border-radius: 5px;
}
.titleContainer{
  padding: 25px 15px;
}
.titleContainer h3{
  color: #F4F4F4;
  width: 151.45px;
  height: 26px;
  font-size: 20px;
  text-align: start;
  text-size-adjust: 100%;
  margin: 20px 0;
}
.titleContainer h4{
  color: #F4F4F4;
  width: 266px;
  height: 22.39px;
  margin-bottom: 70px;


}
.detail span{
  width: 156.61px;
  height: 25.59px;
  color: #00AEF3;
  font-size: 20px;
}
.fa-arrow-right{
  color: #00AEF3;
  width: 20px;
}
/* react box */

.middle{
  margin: 0 40px;
}

.upDown{
  margin: 25px 0 ;
}
/* python */

/* cybersecurity */
.center{
  margin: 25px 40px;
}

