/* Header styles */
header {
  background-color: #1a1e1f;
  max-width: 1903px;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  justify-content: space-around;  /* Change this line */
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  z-index: 2;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
  padding: 15px 0;
  color: white;
}

/* Section styles */
.firstSection {
  padding-top: 77px;
}

.mainImgDiv {
  position: relative;
  max-width: 1903px;
  width: 100%;
  height: 352px; /* Fixed height */
  overflow: hidden;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainImgText {
  position: absolute;
  top: 115px;
  left: 170px;
  color: white;
  font-size: 34px;
}
.bold{
  font-size: 42px;
  font-weight: 100px;
  line-height: 1.6em;
  letter-spacing: 0em;
}

.mainImgText p {
  margin-bottom: 20px;
  pointer-events: auto;
  /* text-size-adjust: 100%; */
}

.sectionParag {
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 464.78px;
  margin: 0 auto;
  padding-top: 60px;
}

.sectionText {
  max-width: 958.25px;
  width: 100%;
  height: 264.98px;
  font-size: 28px;
  line-height: 1.6em;
  margin: 0 auto;
  color: rgb(244, 244, 244);
  letter-spacing: 0em;
  letter-spacing: normal;
}

.more {
  font-size: 20px;
  color: #00aef3;
  margin: 40px 127px;
  width: fit-content;
}

/* section learning courses */
.container {
  max-width: 1903px;
  width: 100%;
  background-color: #161616;
  height: auto;
  /* height: 1422px; */
  padding-top: 40px;
 
  /* padding-left: 120px; */
 
}
.container h2 {
  font-size: 24px;
  color: #dbdbdb;
  margin-left: 120px;
}
.wraper {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  padding-bottom: 60px;
  
}
.courseContainer {
  width: 300px;
  height: 393px;
  background-color: #161616;
  border: 1px solid grey;
  border-radius: 5px;
}
.ios img {
  border-radius: 5px;
}
.titleContainer {
  padding: 25px 15px;
}
.titleContainer h3 {
  color: #f4f4f4;
  width: 151.45px;
  height: 26px;
  font-size: 20px;
  text-align: start;
  text-size-adjust: 100%;
  margin: 20px 0;
}
.titleContainer h4 {
  color: #f4f4f4;
  width: 266px;
  height: 22.39px;
  margin-bottom: 70px;
}
.detail span {
  width: 156.61px;
  height: 25.59px;
  color: #00aef3;
  font-size: 20px;
}
.fa-arrow-right {
  color: #00aef3;
  width: 20px;
}
/* react box */

.middle {
  margin: 0 40px;
}

.upDown {
  margin: 25px 0;
}
/* python */

/* cybersecurity */
.center {
  margin: 25px 40px;
}
/* partner section */

.partnerContainer {
  max-width: 1903px;
  width: 100%;
  height: 363.39px;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  padding: 20px 120px;
}
.partnerContainer h3 {
  width: 312.73px;
  height: 34px;
  color: #f4f4f4;
  font-size: 24px;
}

/* slider */
/* .slider{
  width:500px ;
  height: 363.39px;
} */

.slider-wrapper {
  /* max-width: 1903px;
  width: 100%; */
  height: 363.39px;
  position: relative;
  background-color: #2b2b2b;
}

#arrow-left {
  position: absolute;
  top: 170px;
  left: 60px;
  z-index: 3;
  color: #dbdbdb;
}

#arrow-right {
  position: absolute;
  top: 170px;
  right: 60px;
  z-index: 4;
  color: #dbdbdb;
}

.fa-angle-left {
  font-size: 35.14px;
  height: 18px;
  cursor: pointer;
}

.fa-angle-right {
  font-size: 35.14px;
  height: 18px;
  cursor: pointer;
}

.slider {
  width: 70%;
  height: 224px;
  background-color: #2b2b2b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* accordion */
.accordion {
  max-width: 1663px;
  width: 100%;
 
}

.wraper-body {
  background-color: #161616;
}
.accordion-container {
  position: relative;
  max-width: 870px;
  width: 100%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding-bottom: 25px;
 
  
}

.fontColor {
  color: rgb(244, 244, 244);
}
.fontSize {
  font-size: 20px;
}
.accordion-title {
  position: relative;
  padding: 30px 0;
  
  cursor: pointer;
}
.accordion-title::before {
  content: " ^";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
}
.accordion h2 {
  font-size: 27px;
  padding: 90px 130px 60px 130px;
}
.accordion-description {
  width: 100%;
  font-size: 20px;
  height: 0;
  overflow: hidden;
  position: relative;
  text-align: justify;
  /* transition: 0.5 linear; */
}
.line {
  width: 100%;
  height: 0.5px;
  background-color: #a8a4a4;
}
.accordion-container.active .accordion-description {
  height: 150px;
  padding: 10px;
}
.accordion-container.active .accordion-title::before {
  content: " -";
  font-size: 25px;
}

/* footer */
.footerContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}
footer{
  background-color: #2b2b2b;
  max-width: 1903px;
  width: 100%;
  height: 228.39px;
}
.fontStyle{
  font-size: 17px;
  letter-spacing: normal;
  line-height: 1.6em;
  color: rgb(244, 244, 244);
  margin: 25px 0;
  
}
.leftBox p::before{
  content: ' \00A9';

}

.fa-brands{
  font-size: 40px;
  /* background-color: #a8a4a4; */
  color: #a8a4a4;
}

button{
  width: 160px;
  height: 40px;
  color: #FFFFFF;
  font-size: 18px;
  padding: 7px;
  background-color: #00aef3;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
 
}
.iconWraper{
  padding-left: 75px;
}
